@use "../abstracts/mixins" as m;

body{
    @include m.breakpoint(tablet){
        background-image: url("../img/hero-img.png");
        background-repeat: no-repeat;
        background-position: 115% 0;
        background-size: 400px;
        maring-left:15px;
        margin-right: 15px ;
    }
    @include m.breakpoint(tablethorizontal){
        background-position: 100% 0;
        background-size: 600px;
        maring-left:25px;
        margin-right: 25px ;
    }
    @include m.breakpoint(tablethorizontal){
        background-position: 85% 0px;
        background-size: 500px;
        maring-left:25px;
        margin-right: 25px ;
    }
}