@use "../abstracts/mixins" as m;

header.header-principal{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 38px;
    .container{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    ul{
        @include m.reset-list();
    }
    @include m.breakpoint(tablethorizontal){
        margin-bottom: 80px;
    }
}