@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.activities{
    padding-bottom: 40px;
    background-image: v.$gradient-grey-white;
    @include m.breakpoint(tablet){
        padding-bottom: 80px;
    }
    .container{
        @include m.breakpoint(tablet){
            display:grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px 30px;    
        }
        @include m.breakpoint(tablethorizontal){
            grid-template-columns: 1fr 1fr 1fr;
              
        }
    }
    &__header{
        background-image: v.$gradint-pink-orange;
        border-radius: 10px;
        margin-bottom: 50px;
        @include m.breakpoint(tablet){
            margin-bottom:0;
    
        }
        h2{
            padding: 28px 24px 29px 32px;
            color:white
        }
    }
    &__item{       
        background-color: white;
        border-radius: 10px;
        padding: 56px 28px 40px;
        margin-bottom:40px;
        @include m.breakpoint(tablet){
            margin-bottom:0;
    
        }
        position:relative;
        &:last-child{
            margin-bottom: 0;
        }
        &-icon{
            width: 56px;
            height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: v.$gradint-pink-orange;
            border-radius: 50%;
            margin-bottom: 20px;
            position:absolute;
            top:-25px; 
            left:20px;      
        }
        &-title{
            color: v.$black;
            font-size: 20px;
            margin-bottom: 26px;
        }
        &-description{
            color: v.$grey;
            line-height: 24px;
            margin-bottom: 26px;
            font-size: 16px;
            font-weight: 300;
        }
        &-cta{

        }
    }
}